* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

.container {
    width: 1150px;
    margin: auto;
}

header {
    background-color: #0D325A;
    height: 500px;
}

.header1 {
    height: 100px;
}

.header2 {
    background-image: url('img/business-men.png');
    background-size: contain;
    background-position:right;
    background-repeat: no-repeat;
    width: 80%;
    margin: auto;
}

.logotop {
    width: 14%;
    float: left;
}

#logo {
    padding-top: 26px;
}

.menu {
    width: 50%;
    float: left;
}

#main {
    list-style-type: none;
}

#main li {
    display: inline-block;
}

#main li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    height: 100px;
    line-height: 100px;
    padding-right: 10px;
    font-size: 11px;
    font-weight: 700;
}

#main li a:hover {
    color: #f8b71c;
}

.btn {
    padding: 7px 18px;
    border-radius: 5px;
    border: 1px solid #4e8cb6;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
}

.btn-primary {
    background-color: #7fb802;
    border-color: #7fb802;
}

.cta {
    width: 36%;
    float: left;
    height: 100%;
    text-align: right;
}

.cta a {
    margin-left: 6px;
}

.cta a.link {
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    line-height: 100px;
}

#jumbo-wrapper {
    height: 400px;
    position: relative;
}

#jumbo-content {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#jumbo-content h1 {
    color: white;
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 40px;
}

.btn-primary2 {
    background-color: #7fb802;
    border-color: #7fb802;
    padding: 12px 18px;
}

.grey-section{
    background-color: #f9f9f9;
    margin: auto;
    padding: 40px 20px 40px 20px;
    text-align: center;
}

h4 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
}

p {
    font-size: 15px;
    font-weight: 300;
    color: #999;
}

.central-images {
    width: 1150px;
    height: 520px;
    margin: auto;
}

#main2 {
    color: #7fb802;
    text-decoration: none;
    list-style-type: none;
    font-size: 30px;
    font-weight: 300;
}

.row1 {
    float: left;
    width: 33%;
    padding: 2%;
}

.row2 {
    float: left;
    width: 33%;
    padding: 2%;
}

.row3 {
    float: left;
    width: 33%;
    padding: 2%;
}

h6 {
    min-height: 80px;
}

hr {
    width: 32px;
    color: #f9f9f9;
    margin: 0 45% 5% 45%;
    opacity: 0.3;
}

.text-block {
    text-align: center;
}

#omino {
    height: 130px;
    margin: 30px 0px 60px 120px;
}

#computer {
    height: 130px;
    margin: 30px 0px 60px 100px;
}

#doc {
    height: 130px;
    margin: 30px 0px 61px 86px;
}

#Linea {
    width: 98%;
    margin: auto;
}

.personal-block {
    width: 1150px;
    height: 570px;
    margin: auto;
}

#montagna {
    width: 45%;
    float: left;
    margin: 5% 0 0 0;
}

.text-right {
    width: 30%;
    float: right;
    margin: 15% 2.5% 10% 0%;
}

h2 {
    line-height: 2;
    margin-bottom: 5px;
}

.text-right p {
    margin-bottom:10px;
}

.text-right a {
    color: #98c8f8;
    font-size: 14px;
}

.grey-section2{
    background-color: #f9f9f9;

}

.textbar {
    height: 110px;
    width: 1150px;
    margin: auto;
    padding-top: 41px;
}

.text1r {
    float: left;
}

.test2l {
    float: right;
}

#sono {
    display: inline-block;
    color: #b2b2b2;
    padding-right: 35px;
}

#seleziona {
    display: inline-block;
    color: grey;
    padding-right: 150px;
}
